# Frontend (Angular)
/frontend/node_modules
/frontend/dist
/frontend/.angular
/frontend/tmp
/frontend/out-tsc
/frontend/.sass-cache
/frontend/coverage
/frontend/npm-debug.log
/frontend/yarn-error.log
/frontend/testem.log
/node_modules
/.angular

# Backend (Spring Boot)
/backend/target

# IDE/editor
/.idea
/.vscode/*
!.vscode/extensions.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/settings.json

# System files
.DS_Store
Thumbs.db

# Secrets
.env